### tuple:-

In [2]:
# 1.tuple is inmutable.
#2.it is same as list.
#3.the diff is ( )
#4.if tuple is created we cant change any element.

t=(123,12.34,"jkdgsjh",123)
type(t)

tuple

In [3]:
# tuple build in methods:
#1.count:
print(t.count(123))

2

In [4]:
#2.index:
print(t.index(12.34))

1

In [5]:
# tuple build in functions:
#1.max
#2.min
#3.length
tuple1=(23,3489,82302)
print(max(tuple1))
print(min(tuple1))
print(len(tuple1))

82302
23
3

In [6]:
#changing tuple to list:
A =("jhd",178,"jhhegs")
l1= list(A)
l1

['jhd', 178, 'jhhegs']

In [7]:
#changing list to tuple:

### sets:

In [8]:
#1.sets are creted by { }
#2.sets is unordered.
#3.sets doesnot allow duplicate value.
#4.sets are unindex.
#5.sets allows any values.

a={34,656.6,"hyufd"}

In [9]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [10]:
a={12,45,34,45,60}
b={10,20,45,60,70}

In [11]:
#build in methods:
#1. add
 #will add the value to the set
a.add(10)
a

{10, 12, 34, 45, 60}

In [12]:
#2.clear
# will clear the all  values from the set
#syntax:set.clear()
a.clear()
a

set()

In [13]:
#3.copy
# will copy a duplicate set
#syntax: set.copy()
c=b.copy()
c

{10, 20, 45, 60, 70}

In [14]:
print(b)
print(c)

{70, 10, 45, 20, 60}
{20, 70, 10, 60, 45}

In [15]:
#4.difference:
# will return a value which is not there in the second set
# will check the values of frst set and the valuse shuld not there in second set
#syntax:set1.difference(set2)
a={10,20,30,40,50}
a.difference(c)

{30, 40, 50}

In [16]:
#5.difference_update:
#it will check the diff and update to the frst set
#it wont return any value
#syntax:set1.difference_update(set2)


a.difference_update(c)
print(a)
print(b)
print(c)

{40, 50, 30}
{70, 10, 45, 20, 60}
{20, 70, 10, 60, 45}

In [17]:
#6.discard:
#will remove the given value from the set
#syntax:set.discard(value)
#remove() id different from discard()
#if we use remove() if the value is not exist in the set,it will give a error.
#but discard( ) wont give any error if value wont there.


b.discard(20)
b
print("a=",a)
print("b=",b)
print("c=",c)

a= {40, 50, 30}
b= {70, 10, 45, 60}
c= {20, 70, 10, 60, 45}

In [18]:
#7.intersection:
#will return the if the value of set 1 has the valuse same in thea other set
#syntax:set.intersection(set1,set2,....)
a={10,60,30,50}
a.intersection(b,c)

{10, 60}

In [19]:
#8.intersection_update:
#will give the intersection values and update to the frst set
#syntax:set.intersection_update(set1,set2.....)

a.intersection_update(b,c)
a

{10, 60}

In [20]:
print("a=",a)
print("b=",b)
print("c=",c)

a= {10, 60}
b= {70, 10, 45, 60}
c= {20, 70, 10, 60, 45}

In [21]:
#9.isdisjoint:
#returns true if values in sets are not same
#returns false if valuse are same in the sets
#syntx: set.isdisjoint(set1)

a.isdisjoint(b)

False

In [22]:
#10.issubset():
#returns true if the values of set1 contains the value of set2
#otherwise return false
#should contain values of subset contain in superset
#syntax:a.issubset(b)


a.issubset(b)

True

In [23]:
a={20,30}
a.issubset(b)

False

In [24]:
#11.issuperset():
# the values of superset shuld contain the values of subset
#syntax:set1.issuperset(set2)

a.issuperset(b)

False

In [25]:
#12.pop():
#will remove the random item from the set..and return the remove value.
#syntax:set.pop()

b.pop()

70

In [26]:
b

{10, 45, 60}

In [30]:
#13.remove()
##remove() id different from discard()
#if we use remove() if the value is not exist in the set,it will give a error.
#syntax:set.remove(value)

b.remove(10)
b

{60}

In [32]:
#14.symmetric_difference()
#will return the values of differnt from the both sets
#syntax:set1.symmetric_difference(set2)

a={10,20,30,40}
b={10,60,60,90}
a.symmetric_difference(b)

{20, 30, 40, 60, 90}

In [34]:
a={10,20,30,40}
b={50,60,70,80}
a.symmetric_difference(b)

{10, 20, 30, 40, 50, 60, 70, 80}

In [36]:
#15.symmetric_difference_update()
#will check the difference from the both sets and retrun and update to the frst set
#syntax:set1.symmetric_difference_update(set2)


a={10,20,30,40}
b={50,60,70,80}
a.symmetric_difference_update(b)
print(a)
print(b)

{70, 40, 10, 80, 50, 20, 60, 30}
{80, 50, 60, 70}

In [37]:
#16.union:
#will combine the both the sets and avoid the duplicate values
#syntax:set1.union(set2)

a={10,20,30,40}
b={50,60,70,80}
a.union(b)

{10, 20, 30, 40, 50, 60, 70, 80}

In [38]:
#17.update()
#update the set2 to the other set1
#syntax:set1.update(set2)


a.update(b)
a

{10, 20, 30, 40, 50, 60, 70, 80}

In [39]:
print(a)
print(b)

{70, 40, 10, 80, 50, 20, 60, 30}
{80, 50, 60, 70}

##  dictionary:
###  dictionary are collection of key-value pairs.Each key value pair is known as entry.
##  Key:
### key should be unique.
### key should be immutable.

In [41]:
#creating a dictionary:
dict1={"name":input("enter a name"),"age":int(input("enter a age"))}
dict1

enter a namesiri
enter a age12

{'name': 'siri', 'age': 12}

In [44]:
#updating the dictionary:
dict1["name"]="sagar"
dict1

{'name': 'sagar', 'age': 12}

In [45]:
#deleting the dictionary:
del dict1["age"]
dict1

{'name': 'sagar'}

In [19]:
a=int(input("enter how many students u want"))
list1=[]
for i in range(1,a+1):
    dicti={"name":input("enter name"),"age":int(input("enter age"))}
    list1.append(dicti)
print(list1,end="")

enter how many students u want2
enter namehgds
enter age2
enter namehjgds
enter age2
[{'name': 'hgds', 'age': 2}, {'name': 'hjgds', 'age': 2}]

In [21]:
### built in methods :
#1.clear( ):
#will delete all the elements from the dictionary
#syntax:dictionary.clear()

a={"name":"shirisha","age":13}
a.clear()
a

{}

In [24]:
#2.copy():
#will copy to the specified dictionary
#syntax: dictionary.copy()

a={"name":"shirisha","age":13}
b=a.copy()
b
print(a)
print(b)

{'name': 'shirisha', 'age': 13}
{'name': 'shirisha', 'age': 13}

In [30]:
#3.fromkeys()
#the fromkeys() method returns a dictionary with the specified keys and values.
#syntax:dictionary.fromkeys(keys,value)
 
a=("name","age")
b=("siri")
c=dict.fromkeys(a,b)
c

{'name': 'siri', 'age': 'siri'}

In [32]:
#4.pop()
#will delete the given value
#syntax:dic.pop(value)
a={"name":"shirisha","age":12,"course":"python"}
a.pop("course")
a

{'name': 'shirisha', 'age': 12}

In [33]:
#5.popitem()
#will delete the last key and value from the dictionary
#syntax:dic.popitem()

a={"name":"shirisha","age":12,"course":"python"}
a.popitem()
a

{'name': 'shirisha', 'age': 12}

In [34]:
#6.items()
#will return the view object the key-value pairs of the dictionary,as tuple in a list
#syntax:dictionary.items()

a={"name":"shirisha","age":12,"course":"python"}
b=a.items()
b

dict_items([('name', 'shirisha'), ('age', 12), ('course', 'python')])

In [35]:
#7.keys()
#will return dictionary  only keys in list
#syntax:dictionary.keys()

a={"name":"shirisha","age":12,"course":"python"}
b=a.keys()
b

dict_keys(['name', 'age', 'course'])